name: Build and deploy Node.js app to Azure Web App - botit-backend-develop

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up Node.js version
        uses: actions/setup-node@v4
        with:
          node-version: '20.9.0'

      - name: npm install, build, and test
        run: |
          npm install
          npm run build --if-present

      - name: Zip artifact for deployment
        run: zip -r release.zip * .env .next

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: release.zip

      - name: Delete artifact
        uses: geekyeggo/delete-artifact@v5
        with:
          name: node-app
          failOnError: false
